.object {
    background-color: #dedede;
    border: 1px dashed #a1a1a1;
    cursor: move;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}